.current {
  display: grid;
  grid-template-columns: 150px 100px 150px;
  grid-template-rows: 70px;
}

.status {
  display: grid;
  grid-template-rows: 20px 10px;
}

.icon-display {
  transform: scale(2);
}
